<div class="sideBarBox">

    <div class="imgBox">
        <img class="charImg" src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}" >
        <div class="imgOverlay">
            <div class="charReaSpeed">35</div>
            <div class="charRes1 charResFirst"><span class="charResHead">Body</span></br><span class="charResValue">55</span></div>
            <div class="charRes1"><span class="charResHead">Mind</span></br><span class="charResValue">34</span></div>
        </div>
        <div class="charRes1 charResMiddle"><span class="charResHead">Magic</span></br><span class="charResValue">74</span></div>
    </div>

    <div class="sideBarFill1"></div>

    <div class="ressBarBox">
        <div class="ressBarHeader">Health</div>
        <div class="ressBar"></div>
        <div class="ressBarValue">435 / 435</div>
    </div>

</div>